<div class="form-container" style="margin-top: 100px;">
  <div class="my-form bg-dark">
    <h1>Connexion Admin</h1>
    <form>
      <div class="mb-3 mt-4">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp">
      </div>
      <div class="mb-3 mt-4">
        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        <input type="password" class="form-control"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-light mt-3" (click)="connexion()">Connexion</button>
    </form>
    <p class="mt-4"><a routerLink="/">Agent ?</a></p>
  </div>
</div>