<h1>liste des agents:</h1>
<br>
<div class="row mb-4">
    <!-- Total RDV card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title">Total RDV</h5>
          <p class="card-text">1</p>
        </div>
      </div>
    </div>
  
    <!-- RDV en cours card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-info text-white">
        <div class="card-body">
          <h5 class="card-title">RDV en cours</h5>
          <p class="card-text">1</p>
        </div>
      </div>
    </div>
  
    <!-- RDV installé card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-success text-white">
        <div class="card-body">
          <h5 class="card-title">RDV installer</h5>
          <p class="card-text">1</p>
        </div>
      </div>
    </div>
  
    <!-- RDV confirmé card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-warning text-white">
        <div class="card-body">
          <h5 class="card-title">RDV confirmer</h5>
          <p class="card-text">1</p>
        </div>
      </div>
    </div>
  
    <!-- RDV annulé card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-danger text-white">
        <div class="card-body">
          <h5 class="card-title">RDV annuler</h5>
          <p class="card-text">1</p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive" style="width: 90%;">
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Nombre de RDV</th>
            <th>RDV annuler</th>
            <th>RDV confirmer</th>
            <th>RDV en cours</th>
            <th>RDV installer</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="btn-group-horizontal" style="width: 100%;">
                  <button class="btn btn-secondary btn-sm" >Modifier</button>/
                  <button class="btn btn-danger btn-sm" >Supprimer</button>
                </div>
              </td>
              
              
          </tr>
        </tbody>
      </table>
    </div>
  </div>