<h1>Mes RDVs:</h1>
<br>
<div class="row mb-4">
    <!-- Total RDV card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title">Total RDV</h5>
          <p class="card-text">{{rdv?.length || 0}}</p>
        </div>
      </div>
    </div>
  
    <!-- RDV en cours card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-info text-white">
        <div class="card-body">
          <h5 class="card-title">RDV en cours</h5>
          <p class="card-text">{{ encours?.count || 0 }}</p>
        </div>
      </div>
    </div>
  
    <!-- RDV installé card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-success text-white">
        <div class="card-body">
          <h5 class="card-title">RDV Audité</h5>
          <p class="card-text">{{ audite?.count || 0 }}</p>
        </div>
      </div>
    </div>
  
    <!-- RDV confirmé card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-warning text-white">
        <div class="card-body">
          <h5 class="card-title">RDV confirmer</h5>
          <p class="card-text">{{ confirmer?.count || 0 }}</p>
        </div>
      </div>
    </div>
  
    <!-- RDV annulé card -->
    <div class="col-sm-6 col-md-2">
      <div class="card bg-danger text-white">
        <div class="card-body">
          <h5 class="card-title">RDV annuler</h5>
          <p class="card-text">{{ annuller?.count || 0 }}</p>
        </div>
      </div>
    </div>
    <!-- RDV audité card -->
    <div class="row mb-4">
      <!-- RDV audité card -->
      <div class="col-sm-6 col-md-2">
        <div class="card bg-black text-white">
          <div class="card-body">
            <h5 class="card-title">Installation en cours</h5>
            <p class="card-text">{{installer?.count || 0}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive" style="width: 90%;">
    <div class="table-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Prise Le (aa/mm/jj)</th>
            <th>Type RDV</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Status</th>
            <th>Avis Confirmateur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of res">
            <td>{{ i.PriseLe | dateFormat }}</td>
            <td>{{ i.Type }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.prenom }}</td>
            <td>{{ i.Status === 'installer' ? 'Installation en cours' : i.Status }}</td>
            <td>
              <div class="d-grid gap-2">
                <button class="btn btn-danger btn-sm" (click)="details(i._id)">Details</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- Pagination -->
  <div class="pagination">
    <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Precedent</button>
    <span>{{ currentPage }} / {{ getTotalPages() }}</span>
    <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Suivant</button>
  </div>
  
